/* change these */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --bg-color: #f2b3b3;
  --link-color: #20448c;
  --link-hover-color: #f291c7;
  --color-4: #f2e9d8;
  --color-5: #f24c27;

  --primary-font: "Hegante", sans-serif;
  --secondary-font: "Hobeaux", serif;
  --main-text-color: #000;

  --white-space: 1rem;
}

a {
  transition: all 3s;
}

a:hover {
  color: var(--link-hover-color);
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3.5rem;
  letter-spacing: -1px;
  padding-right: 0.75em;
  color: var(--link-color);
  text-shadow: 4px 2px var(--color-5);
}

.header-wrapper h2 {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--color-5);
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: var(--secondary-font);
  color: var(--link-color);
}

.header-wrapper h4 {
  font-size: 1rem;
  font-family: var(--secondary-font);
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
  font-family: var(--secondary-font);
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/boots-illustration.jpg) top left repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.texture-swatch-2 {
  background: url(../img/icon-inspo.jpg) top left repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.texture-swatch-3 {
  background: url(../img/color-inspo.jpg) top left repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 40px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: 1.25em/1 var(--primary-font);
  letter-spacing: 1px;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 0 0;
  border: none;
}

.secondary-button {
  background: var(--color-5);
  font-family: var(--secondary-font);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

button:hover {
  background-color: var(--link-hover-color);
  /* transform: scale(3) rotate(40deg); */
}

button:active {
  background-color: var(--bg-color);
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--link-color);
}

.h2-sample {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--color-5);
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
  background-color: var(--bg-color);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
}

.adjectives ul {
  flex-direction: column;
  color: var(--color-5);
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    /* width: 20%; 22s - already in mobile */
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
